body {
    font-family: Arial, sans-serif;
    background: #978F89;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    color: white;
    /*padding: 15px;*/
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 5px;
    border: 1px solid #212529;
    text-align: left;
}

th {
    background-color: #333;
    color: #EFEFEF;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

tr:nth-child(odd) {
    background-color: #fff;
}


tr:hover {
    background-color: #BBBBBB;
}
