.container {
    display: flex;
    height: 100vh;
    margin-top: -20px;
    margin-left: -20px;
}

/*season*/
.box1 {
    background: #fbebe0;
    padding-left: 10px;
    /*padding-right: 10px;*/
    width: 70px;

}

/*table*/
.box2 {
    /*background: #0a58ca;*/
    padding-top: 10px;
    /*padding-left: 10px;*/
    overflow-x: auto;
}

#thread_status {
    padding-left: 20px;
    position: fixed;
    bottom: 10px;
    font-size: 14px;
    /*right: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*text-align: center;*/
}

/*Подсказка*/
[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 185px; /* Ширина подсказки */
    left: 0;
    top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -4em; /* Положение подсказки */
}