.container {
    display: flex;
    height: 100vh;
    margin-top: -20px;
    margin-left: -20px;
}

.box1 {
    background: #fbebe0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;

}

.box2 {
    /*background: #0a58ca;*/
    padding-top: 10px;
    /*padding-left: 10px;*/
}