form {
    display: flex;
    flex-direction: column;
}

/*Для выравнивания полей ввода в форме "Добавить игрока":*/
#player-form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#player-form label {
    width: 100px;
}

#player-form input {
    /*flex: -1;*/
    width: 200px;
}
/*Выпадающий список*/
#player-team{
    width: 208px;
}
#player-form button {
    width: 310px;
}