form {
    display: flex;
    flex-direction: column;
}

/*Для выравнивания полей ввода в форме "Добавить игрока":*/
#score-form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#score-form label {
    width: 250px;
}

#score-form input {
    /*flex: -1;*/
    width: 50px;
}
.flashes{
    color: #0a58ca;
}