<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

<div class="nav"><a href="login">Login</a></div>

<div>
    <table>
        <thead>
        {% for el in thead %}
            <th>{{ el }}</th>
        {% endfor %}
        </thead>
        {% for row in data %}
            <tr>
                <td>{{ row['team_name'] }}</td>
                <td>{{ row['_sum_'] }}</td>
                <td>{{ row['_sum_minus_2'] }}</td>
                <td>{{ row['2024-03-07'] }}</td>
                <td>{{ row['2024-03-14'] }}</td>
                <td>{{ row['2024-03-21'] }}</td>
                <td>{{ row['2024-03-28'] }}</td>
                <td>{{ row['2024-04-04'] }}</td>
                <td>{{ row['2024-04-11'] }}</td>
                <td>{{ row['2024-04-18'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
