{% extends 'base.html' %}
{% block content %}
    <section id="table">
        <div class="container">
            <div class="box1">
                <div>
                    <!--#content-->
                    <h3>2024</h3>
                    <div class="column">
                        <a href="#Зима">Зима</a><br>
                        <a href="#Весна">Весна</a><br>
                        <a href="#Лето">Лето</a><br>
                        <a href="#Осень">Осень</a><br>
                    </div>
                </div>
            </div>
            <div class="box2">
                <!--            <span>Таблица</span>-->
                <div id="table_main"></div>
                <br>
                <button id="set_result_button" type="submit" style="float: right">Внести результаты игры</button>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" style="float: right;">&times;</span>
                <h2>Введите результаты игры:</h2>
                <ul id="team-list">
                    <!-- Team names will be added dynamically here -->
                </ul>
                <button id="send-result" style="float: right;">Отправить</button>
            </div>
        </div>

    </section>

    <link rel="stylesheet" href="../static/css/maintable.css">
    <link rel="stylesheet" href="../static/css/season.css">
    <link rel="stylesheet" href="../static/css/modal.css">

    <script src="../static/js/table_main.js"></script>
    <script src="../static/js/modal.js"></script>


{% endblock %}