{% extends 'base.html' %}
{% block content %}
<section id="add-game">
        <h1>Проверить пакет:</h1>
        <form id="game-form" method="post">
            <div id="input-container" class="input-group"> <!-- Добавлен класс "input-group" -->
                <label for="game-name-1">ID пакета:</label>
                <input type="text" id="game-name-1" name="game-name[]">
                <button type="button" id="add-input" class="green-plus">+</button> <!-- Добавлен класс "green-plus" -->
            </div>
            <button id="check_button" type="submit">Проверить</button>
        </form>
        <br>
        <div id="serverResponse"></div>
    </section>
<script src="static/js/check_packets.js"></script>
{% endblock %}