<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <!--    <link rel="stylesheet" href="static/css/minify_styles.css">-->

    <link href="https://unpkg.com/tabulator-tables@5.0.7/dist/css/tabulator.min.css" rel="stylesheet">
    <script src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>

<div class="sidebar">
    <ul>
        <li><a href="#table" id="main_table_link">Таблица</a></li>
        <li><a href="#add-game">Проверить пакет</a></li>
        <li><a href="#add-player">Добавить игрока</a></li>
        <li><a href="#add-team">Добавить команду</a></li>
    </ul>
</div>

<div class="content">
    <section id="table">

        <div id="table_main"></div>
        <br>
        <button id="set_result_button" type="submit" style="float: right">Внести результаты игры</button>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" style="float: right;">&times;</span>
                <h2>Введите результаты игры:</h2>
                <ul id="team-list">
                    <!-- Team names will be added dynamically here -->
                </ul>
                <button id="send-result" style="float: right;">Отправить</button>
            </div>
        </div>

    </section>

    <section id="add-game">
        <h1>Проверить пакет:</h1>
        <form id="game-form" method="post">
            <div id="input-container" class="input-group"> <!-- Добавлен класс "input-group" -->
                <label for="game-name-1">ID пакета:</label>
                <input type="text" id="game-name-1" name="game-name[]">
                <button type="button" id="add-input" class="green-plus">+</button> <!-- Добавлен класс "green-plus" -->
            </div>
            <button id="check_button" type="submit">Проверить</button>
        </form>
        <br>
        <div id="serverResponse"></div>
    </section>

    <section id="add-player">
        <h1>Добавить игрока:</h1>
        <form id="player-form" method="post">
            <div>
                <label for="player-fio">ФИО игрока:</label>
                <input type="text" id="player-fio" name="player-fio" required autocomplete="off" autofocus>
            </div>
            <div>
                <label for="player-name">ID игрока:</label>
                <input type="text" id="player-name" name="player-name" required autocomplete="off">

            </div>
            <button type="submit">Добавить</button>
        </form>
        <br>
        <h1>Таблица игроков:</h1>
        <div id="example-table"></div>
        <button id="update-button">Update Data</button>

    </section>

    <section id="add-team">
        <h1>Добавить команду</h1>
        <form id="team-form" method="post">
            <div>
                <label for="team-name">Название команды:</label>
                <input type="text" id="team-name" name="team-name">

                <button type="submit">Добавить</button>
            </div>
            <br>
            <h1>Таблица команд:</h1>
            <div id="table_teams"></div>
        </form>
    </section>
</div>


<!--SCRIPTS-->
<script src="/static/js/table_main.js"></script>
<script src="/static/js/table_players.js"></script>
<script src="/static/js/table_teams.js"></script>
<script src="/js/check_packets.js"></script>
<script src="/static/js/modal.js"></script>

<!--MINIFY SCRIPTS VERSION-->
<!--<script src="/static/js/minify_table_main.js"></script>-->
<!--<script src="/static/js/minify_table_players.js"></script>-->
<!--<script src="/static/js/minify_packet.js"></script>-->


</body>
</html>
